In [1]:
#dependancies
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
#Create list of dataframes from csv files
f1 = "data/JC/JC-201901-citibike-tripdata.csv"

file_list = []
for i in range(1,10):
    file_list.append(f"data/JC/JC-20190{i}-citibike-tripdata.csv")
for i in range(0,3):
    file_list.append(f"data/JC/JC-20191{i}-citibike-tripdata.csv")
for i in range(1,10):
    file_list.append(f"data/JC/JC-20200{i}-citibike-tripdata.csv")
for i in range(0,3):
    file_list.append(f"data/JC/JC-20201{i}-citibike-tripdata.csv")
     

data_df_list = [pd.read_csv(file) for file in file_list]

In [3]:
file_list

['data/JC/JC-201901-citibike-tripdata.csv',
 'data/JC/JC-201902-citibike-tripdata.csv',
 'data/JC/JC-201903-citibike-tripdata.csv',
 'data/JC/JC-201904-citibike-tripdata.csv',
 'data/JC/JC-201905-citibike-tripdata.csv',
 'data/JC/JC-201906-citibike-tripdata.csv',
 'data/JC/JC-201907-citibike-tripdata.csv',
 'data/JC/JC-201908-citibike-tripdata.csv',
 'data/JC/JC-201909-citibike-tripdata.csv',
 'data/JC/JC-201910-citibike-tripdata.csv',
 'data/JC/JC-201911-citibike-tripdata.csv',
 'data/JC/JC-201912-citibike-tripdata.csv',
 'data/JC/JC-202001-citibike-tripdata.csv',
 'data/JC/JC-202002-citibike-tripdata.csv',
 'data/JC/JC-202003-citibike-tripdata.csv',
 'data/JC/JC-202004-citibike-tripdata.csv',
 'data/JC/JC-202005-citibike-tripdata.csv',
 'data/JC/JC-202006-citibike-tripdata.csv',
 'data/JC/JC-202007-citibike-tripdata.csv',
 'data/JC/JC-202008-citibike-tripdata.csv',
 'data/JC/JC-202009-citibike-tripdata.csv',
 'data/JC/JC-202010-citibike-tripdata.csv',
 'data/JC/JC-202011-citibike-tripdata.csv',
 'data/JC/JC-202012-citibike-tripdata.csv']

In [4]:
#Create master dataframe from all individual dataframes (1 for each month of data)
data_df = data_df_list[0].append(data_df_list[1::],ignore_index=True)
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741744,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
741745,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
741746,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
741747,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
741748,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [5]:
def format_date(date):
    if pd.notnull (date):
        ndate = dt.datetime.strptime(date, '%Y-%m-%d %H:%M:%S.%f')
        return ndate.strftime('%m/%d/%Y')
    else:
        return np.nan
    
def format_time(date):
    if pd.notnull (date):
        data = dt.datetime.strptime(date, '%Y-%m-%d %H:%M:%S.%f')
        return data.strftime('%H:%M')
    else:
        return np.nan

In [6]:
#Create new columns using defined functions
data_df["start_date"] = data_df["starttime"].map(lambda x: format_date(str(x)))
data_df["start_time"] = data_df["starttime"].map(lambda x: format_time(str(x)))
data_df["end_date"] = data_df["stoptime"].map(lambda x: format_date(str(x)))
data_df["end_time"] = data_df["stoptime"].map(lambda x: format_time(str(x)))

In [7]:
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_date,start_time,end_date,end_time
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,01/01/2019,03:09,01/01/2019,03:12
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,01/01/2019,05:18,01/01/2019,05:26
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,01/01/2019,10:36,01/01/2019,10:49
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,01/01/2019,12:43,01/01/2019,13:09
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,01/01/2019,12:43,01/01/2019,13:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741744,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,12/31/2020,23:07,12/31/2020,23:36
741745,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,12/31/2020,23:18,12/31/2020,23:43
741746,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,12/31/2020,23:31,01/01/2021,00:00
741747,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,12/31/2020,23:35,12/31/2020,23:46
741748,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,12/31/2020,23:48,01/01/2021,00:15

In [8]:
gender = {0:"Unknown",1:"Male",2:"Female"}
data_df["gender_type"] = data_df["gender"].map(gender)

In [9]:
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_date,start_time,end_date,end_time,gender_type
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,01/01/2019,03:09,01/01/2019,03:12,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,01/01/2019,05:18,01/01/2019,05:26,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,01/01/2019,10:36,01/01/2019,10:49,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,01/01/2019,12:43,01/01/2019,13:09,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,01/01/2019,12:43,01/01/2019,13:09,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741744,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,12/31/2020,23:07,12/31/2020,23:36,Unknown
741745,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,12/31/2020,23:18,12/31/2020,23:43,Unknown
741746,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,12/31/2020,23:31,01/01/2021,00:00,Male
741747,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,12/31/2020,23:35,12/31/2020,23:46,Unknown
741748,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,12/31/2020,23:48,01/01/2021,00:15,Male

In [10]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741749 entries, 0 to 741748
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             741749 non-null  int64
 1   starttime                741749 non-null  object
 2   stoptime                 741749 non-null  object
 3   start station id         741749 non-null  int64
 4   start station name       741749 non-null  object
 5   start station latitude   741749 non-null  float64
 6   start station longitude  741749 non-null  float64
 7   end station id           741749 non-null  int64
 8   end station name         741749 non-null  object
 9   end station latitude     741749 non-null  float64
 10  end station longitude    741749 non-null  float64
 11  bikeid                   741749 non-null  int64
 12  usertype                 741749 non-null  object
 13  birth year               741749 non-null  int64
 14  gender                   741749 non-null  int64
 15  start_date               741749 non-null  object
 16  start_time               741749 non-null  object
 17  end_date                 741749 non-null  object
 18  end_time                 741749 non-null  object
 19  gender_type              741749 non-null  object
dtypes: float64(4), int64(6), object(10)
memory usage: 113.2+ MB

In [11]:
data_df.to_csv('jcbikedata.csv',index=False)